$bgGradient: linear-gradient(to right, #dca207, #96324f);
$bgImg: url('../img/m-h-night.jpg') no-repeat 0 0;
$colors: (
	lineColor: #ff4e33,
	button: #e3ac00,
	text: #fff,
	textH2: #fff,
	bgColor: #3b3f50,
	bodyColor: #21232e,
	text2: #2c3148
);
$mapFonts: (
        fontSansPro: ('Source Sans Pro', sans-serif),
        fontHind: ('Hind', sans-serif),
        fontFresca: ('Fresca', sans-serif)
);