$bgGradient: linear-gradient(to right, #649414, #2e5cd4);
$bgImg: url('../img/m-h-day.jpg') no-repeat 0 60%;
$colors: (
	lineColor: #14a0c7,
	button: #699900,
	text: #c0c3af,
	textH2: #2e2f3c,
	bgColor: #21232e,
	bodyColor: #fff,
	text2: #c0c3af 
);
$mapFonts: (
        fontSansPro: ('Source Sans Pro', sans-serif),
        fontHind: ('Hind', sans-serif),
        fontFresca: ('Fresca', sans-serif)
);